@font-face {
  font-family: 'Open Sans';
  src: url('../assets/open-sans/regular/OpenSans-Regular.eot');
  src: url('../assets/open-sans/regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../assets/open-sans/regular/OpenSans-Regular.woff2') format('woff2'),
    url('../assets/open-sans/regular/OpenSans-Regular.woff') format('woff'),
    url('../assets/open-sans/regular/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/open-sans/light/OpenSans-Light.eot');
  src: url('../assets/open-sans/light/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
    url('../assets/open-sans/light/OpenSans-Light.woff2') format('woff2'),
    url('../assets/open-sans/light/OpenSans-Light.woff') format('woff'),
    url('../assets/open-sans/light/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/open-sans/medium/OpenSans-Medium.eot');
  src: url('../assets/open-sans/medium/OpenSans-Medium.eot?#iefix') format('embedded-opentype'),
    url('../assets/open-sans/medium/OpenSans-Medium.woff2') format('woff2'),
    url('../assets/open-sans/medium/OpenSans-Medium.woff') format('woff'),
    url('../assets/open-sans/medium/OpenSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/open-sans/bold/OpenSans-Bold.eot');
  src: url('../assets/open-sans/bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../assets/open-sans/bold/OpenSans-Bold.woff2') format('woff2'),
    url('../assets/open-sans/bold/OpenSans-Bold.woff') format('woff'),
    url('../assets/open-sans/bold/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #0e1414;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

#component-1,
#component-2 {
  min-height: 100vh;
  padding: 120px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  border-bottom: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-size: 29px;
  font-weight: 300;
  padding-bottom: 12px;
  text-transform: uppercase;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 2;
}

.subtitle {
  color: #ba142d;
  font-weight: bold;
  text-transform: uppercase;
}

@media only screen and (max-width: 1400px) {
  h1 {
    font-size: 24px
  }
}

@media only screen and (max-width: 1024px) {

  #component-1,
  #component-2 {
    min-height: auto;
    padding: 80px 15px;
  }

  p {
    font-size: 16px;
    line-height: 1.8;
  }
}

@media only screen and (max-width: 767px) {

  #component-1,
  #component-2 {
    padding: 60px 15px;
  }
}